{% extends 'base.html' %}

{% block contenido %}

<section>
  {% for p in lista_publicaciones %}
  <div class="card m-2" style="width: 18rem;">
    {% if publicacion.imagen_public %}
    {{p.imagen_public.url}}
    <img src="{{ publicacion.imagen_public.url }}" alt="Imagen" class="card-img-top">
    {% else %}
    <p>No hay imagen</p>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{p.titulo_public}}</h5>
      <p class="card-text">{{p.resumen_public}}</p>
      <a href="{% url 'publicaciones:publicacion_detalle' p.id %}" class="btn btn-primary">ver mas</a>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock contenido %}