{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<h2 class="mb-3 center">Nueva Publicación</h2>
<div class="input-group mb-3">
    <form action="{% url 'publicaciones:NuevaPublicacion' %}" method="post" class="form-control g-3">{% csrf_token %}
        <!-- {{form.as_p}} -->
        <div class="d-flex flex-row mb-3">
            <span for="titulo" class="input-group-text pl-3 col-2">Título</span>
            <input type="text" class="col-6" name="titulo" id="titulo"> 
        </div>

        <div class="d-flex flex-row">
            <span for="resumen" class="input-group-text pl-3 col-2">Resumen</span>
            <textarea type="text" class="col-6" name="resumen" id="resumen"></textarea>
        </div>

        <div class="d-flex flex-row mt-3">
            <span for="contenido" class="input-group-text pl-3 col-4">Conteindo de la publicación</span>
            <textarea type="text" class="col-6" name="contenido" id="contenido"></textarea>
        </div>
    
        <div class="d-flex flex-row mt-3">
            <span for="imagen" class="input-group-text pl-3 col-3  me-5">Seleccione una imágen</span>
            <input type="file" class="col-6" name="imagen" id="imagen"></textarea>
        </div>

    </form>

</div>
<button type="submit" class="btn btn-success">Guardar</button>
{% endblock contenido %}